@page "/"
@using Frontend.Shared
@attribute [TabItemOption(Text = "Startseite", Closable = false)]
<PageTitle>Startseite</PageTitle>

<h1>Willkommen!</h1>

Der Multi-Bot für den Streamer von heute.
<br />Spezielle Twitch-Befehle und Discord-Funktionen auf dich zugeschnitten.

<p style="margin-top: 50px">Disclaimer:</p>
Benutzung auf eigene Gefahr. Haftung ausgeschlossen.
