@page "/login"

@using Microsoft.AspNetCore.Components.Authorization

<h3>Benutzerinformationen</h3>

@if (!string.IsNullOrEmpty(userName))
{
    <p>Benutzername: @userName</p>
}
else
{
    <p>Benutzer nicht authentifiziert oder Benutzerinformationen konnten nicht abgerufen werden.</p>
}

@code {
    private string? userName;
    /*
    [Inject]
    private KeycloakAuthenticationService authService { get; set; }

    [Inject]
    private AuthenticationStateProvider? authenticationStateProvider { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authenticationState.User;

        var accessToken = user.FindFirst("access_token")?.Value;

        if (!string.IsNullOrEmpty(accessToken))
        {
            userName = await authService.GetUserNameAsync(accessToken);
        }
    }
    */
}