@page "/rpg"
@using Frontend.Shared
@attribute [TabItemOption(Text = "RPG", Closable = true)]
<PageTitle>RPG Bot</PageTitle>

<h1>RPG Bot</h1>

Den RPG Bot de- / aktivieren:
<div class="col-6 col-sm-4 col-md-3 col-lg-auto">
    <Switch @bind-Value="changedBool" OnColor="Color.Success" OffColor="Color.Danger" OnText="Aktiviert" OffText="Deaktiviert"></Switch>
</div>

<p>Der RPG Bot ist: @changedBool</p>

<div style="margin-top: 50px">
    <p><b>Erklärung</b></p>
    <p>
        Der RPG Bot bietet Nutzern auf deinem Server die Möglichkeit ein automatisiertes, textbasiertes Rollenspiel zu erleben.
        <br />Der Anwender kann lediglich einen Befehl benutzen:
        <ul>
            <li><code>HIER BEFEHLSNAMEN EINFÜGEN</code></li>
        </ul>
        Bei Ausführung des Befehls wird automatisch ein Kampf gegen ein Monster ausgeführt.
        <br />Der <code>Kampf</code> läuft wie folgt ab:
        <ul>
            <li>In der <code>Anfangsphase</code> wird durch Zufall entschieden wer den ersten Angriff tätigt.</li>
            <li>In der <code>Angriffsphase</code> wird angegriffen.
                <ul>
                    <li>Der Angegriffene hat eine Chance den Angriff auszuweichen.</li>
                    <li>Angegriffen wird im Wechsel bis einer der beiden keine Lebenspunkte mehr hat.</li>
                </ul>
            </li>
            <li>In der <code>Endphase</code> wird das Ergebnis des Kampfes erläutert und Erfahrungspunkte vergeben,
                sofern der Kampf gewonnen wurde.</li>
        </ul>
        Den Kampf selbst können verschiedenen Faktoren beeinflussen:
        <ul>
            <li>Level (erhöht sich durch gewonnene Kämpfe)</li>
            <li>Monsterlevel (steigt ab eigenem Levelzuwachs)</li>
        </ul>
        Diese Faktoren geben dem eigenen Charakter, sowie dem Monster mehr Lebenspunkte und Angriffskraft.
    </p>
</div>

<label>Monster Enziklopädie</label>
<table style="width: 600px; table-layout:fixed" border="1">
    <tbody>
        <tr>
            <th>Name</th>
            <th>Level</th>
            <th>Lebenspunkte</th>
        </tr>
        <tr>
            <td>@monsterName</td>
            <td>@monsterLevel.ToString()</td>
            <td>@monsterHP.ToString()</td>
        </tr>
    </tbody>
</table>



@code
{
    private string monsterName = "Schleim";
    private int monsterLevel = 1;
    private int monsterHP = 50;

    private bool changedBool = false;
}